<?xml version="1.0" encoding="UTF-8"?>  
<configuration>  
 <system.webServer>
  <handlers>
   <add name="PythonHandler" path="*" verb="*" 
         modules="httpPlatformHandler" resourceType="Unspecified" />
  </handlers>
  <httpPlatform processPath="D:\home\python362x86\python.exe"
  arguments="D:\home\site\wwwroot\run_waitress_server.py --port %HTTP_PLATFORM_PORT%" requestTimeout="00:04:00" startupTimeLimit="120" startupRetryCount="3" stdoutLogEnabled="true">
   <environmentVariables>
    <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
    <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%"  />
    <environmentVariable name="MYSQL_PORT" value="50361"  />
    <environmentVariable name="MYSQL_NAME" value="localdb"  />
    <environmentVariable name="MYSQL_USER" value="azure"  />
    <environmentVariable name="MYSQL_PSWD" value="6#vWHD_$"  />
   </environmentVariables>
  </httpPlatform>
 </system.webServer>
</configuration>  