<html>       
    <head>         
        <title>Tweet Application</title>       
</head>       
<body>  
        <form data-bind="submit: addUser"> 
                <div class="navbar"> 
                  <div class="navbar-inner"> 
                      <a class="brand" href="#">Tweet App Demo</a> 
                  </div> 
                </div> 
                <div id="main" class="container"> 
                 <table class="table table-striped"> 
                <p> Name: <input data-bind="value: name" placeholder="Full Name of user" type="text"/> </p> 
                </div> 
                <div> 
                <p>  Username: <input data-bind="value: username" 
                  placeholder="Username" type="username"></input> </p> 
                </div> 
               <div> 
              </p> email: <input data-bind="value: email" placeholder="Email id" 
                 type="email"></input> </p> 
               </div> 
               <div> 
              <p> Password: <input data-bind="value: password" type="password" 
                  placeholder="Password"></input> </p> 
               </div> 
                  <button type="submit">Add User</button> 
                </table> 
               </form> 
               <ul data-bind="foreach: user_list, visible: user_list().length > 0"> 
                    <li>         
                        <p data-bind="text: name"></p>         
                        <p data-bind="text: username"></p>         
                        <p data-bind="text: email"></p>        
                        <p data-bind="text: password"></p>      
                    </li>     
                </ul> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>     
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"   rel="stylesheet">       
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>   
    <script type='text/javascript' src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>    
    <script src="{{url_for('static', filename='app.js')}}"></script>   
    </body>    
 </html> 